body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: black;

}


.bg {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    z-index: -1;       
}


.content {
    position: relative;
    z-index: 1;         
    padding-top: 20vh;  
}


.start {
    background: rgb(63, 165, 63);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
}


footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.footer a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
