body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: black;

}

.content {
    position: relative;
    z-index: 1;         
    padding-top: 20vh;  
}


.btn {
    background: rgb(63, 165, 63);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
}


